# Dependências do Node.js
/node_modules

# Arquivos de cache do npm (geralmente não são necessários no repositório)
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependências específicas do gerenciador de pacotes (npm ou yarn)
package-lock.json  # Para projetos npm
yarn.lock          # Para projetos yarn

# Dependências específicas do Metro Bundler (React Native)
/.metro-cache

# Arquivos de build e artefatos de compilação
android/build
ios/build
*.apk
*.aab
*.ipa


# Outros arquivos e diretórios gerados automaticamente
.DS_Store
*.log